<!DOCTYPE html>
<html lang="Ua">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="Description" content="default">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDUCATE</title>

    <link rel="preload" href="fonts/Montserrat-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Montserrat-Medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Montserrat-SemiBold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Montserrat-Bold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Montserrat-ExtraBold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/NotoSans-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/NotoSans-Medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/NotoSans-SemiBold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/NotoSans-Bold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/NotoSans-ExtraBold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/NotoSans-Black.woff" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>